@page
@model RazorPagesApp.Pages_Turma.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes da Turma</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurmaModel.Turma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurmaModel.Turma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurmaModel.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurmaModel.Ano)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TurmaModel.Id">Editar</a> |
    <a asp-page="./Index">Voltar a lista</a>
</div>
