@page
@model RazorPagesApp.Pages_Turma.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Turmas</h2>

<p>
    <a asp-page="Create">Cadastrar nova Turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurmaModel[0].Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurmaModel[0].Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TurmaModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Inativar</a>
            </td>
        </tr>
}
    </tbody>
</table>
