@page
@model RazorPagesApp.Pages_Inscricao.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Inscrição de Alunos em Turmas</h2>

<p>
    <a asp-page="Create">Cadastrar nova Inscrição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoModel[0].AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoModel[0].TurmaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InscricaoModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurmaId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Inativar</a>
            </td>
        </tr>
}
    </tbody>
</table>
